@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            var timer = null;
            var iNow = 0;
            $("#statr").click(function ()
            {
                clearTimeout(timer);

                doit();

                function doit()
                {
                    timer = setTimeout(function ()
                    {
                        if (iNow < 9999999)
                        {
                            $.ajax({
                                url: "/home/index2?"+iNow,
                                success: function (data)
                                {
                                    $("p").eq(1).prepend("后台count：" + data.c + "连接：" + data.msg + " <br/>");
                                },
                                type: "GET",
                                dataType: "json"

                            });

                            iNow++;
                            doit()
                        } else
                        {
                            clearTimeout(timer);
                        }

                    }, 80);
                }


            });

            $("#end").click(function ()
            {

                clearTimeout(timer)
            })

        });


    </script>

</head>
<body>
    <p id="statr">开始</p>
    <em id="end">暂停</em>
    <p style="border:1px solid #0094ff; width:80%;height:700px; overflow:hidden; position:relative; left:200px;"></p>

</body>
</html>
